<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.multi.travel.mapper.TravelMapper">
    <select id="selectAll" resultType="com.multi.travel.dto.TravelDTO">
        SELECT no, district, title, description, address, phone
        FROM travel
    </select>
</mapper>
